*.py[cod]
__pycache__/
dist/
build/
.coverage*
*.egg-info/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/

docs/_build/
docs/site

.venv/
venv/
env/

.pdm.toml
.pdm-python
__pypackages__/

.vscode/
.idea/
*.sw[op]
