# [[ project_name ]]

[![Tests](https://github.com/[[ repository_namespace ]]/[[ repository_name ]]/workflows/Tests/badge.svg)](https://github.com/[[ repository_namespace ]]/[[ repository_name ]]/actions?query=workflow%3Aci)
[![pypi version](https://img.shields.io/pypi/v/[[ repository_name ]].svg)](https://pypi.org/project/[[ repository_name ]]/)
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)

[[ project_description ]]

## Requirements

[[ project_name ]] requires Python [[ requires_python ]]

## Installation

It is recommended to install with `pipx`, if `pipx` haven't been installed yet, refer to the [pipx's docs](https://github.com/pipxproject/pipx)

```bash
$ pipx install [[ python_package_distribution_name ]]
```

Alternatively, install with `pip` to the user site:

```bash
$ python -m pip install --user [[ python_package_distribution_name ]]
```
