name: Tests

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "news/**"
      - "*.md"
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "docs/**"
      - "news/**"
      - "*.md"

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.9]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v1.1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set Variables
        id: set_variables
        run: |
          echo "::set-output name=PIP_CACHE::$(pip cache dir)"
          echo "::set-output name=PDM_CACHE::$(pdm config cache_dir)"
      - name: Cache PIP
        uses: actions/cache@v2
        with:
          path: |
            ${{ steps.set_variables.outputs.PIP_CACHE }}
            ${{ steps.set_variables.outputs.PDM_CACHE }}
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install -U copier
      - name: Setup Tests(Linux)
        run: bash tests/setup.sh
        if: runner.os == 'Linux'
      - name: Setup Tests(Windows)
        run: ./tests/setup.ps1
        if: runner.os == 'Windows'
      - name: Run Tests
        run: |
          pdm use -f ${{ matrix.python-version }}
          pdm install -d
          pdm run test
